@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 white-text">Welcome to the Video Game Library</h1>
	<img class="img-large" src="Images/VGLibraryLogo.jpg" />
    <h4 class="white-text">This website exists to create a digital library where you can track what games you own. Each video game will be displayed 
		in a view that contains information about the game such as the game's box art, the year it was released, and what platforms the game can be 
		played on. These views also contain a section where you can mark if you've loaned the game out to someone!
	</h4>
	<br />
	<h4 class="white-text">Click on "Collection" in the navigation bar to view your games.</h4>
</div>
